.palhope {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	padding: 12px;
}
.palhope-ar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #000000;
	padding: 15px;
}
